@font-face {
    font-family: 'gloucester_mt_extra_condensRg';
    src: url('../font/gloucester-webfont.woff2') format('woff2'),
        url('../font/gloucester-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gloucester_mt_extra_condensRg';
}

main {
    position: relative;
    height: 100vh;
    background: radial-gradient(#9f63ff, #000000 88%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    header {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        backdrop-filter: blur(50px);
        background-color: #0000009c;

        .dec {
            width: 350px;
            min-width: 90px;
            transition: 500ms;
        }

        a {
            display: flex;
            justify-content: center;
            cursor: pointer;

            img {
                min-width: 280px;
                height: 120px;
            }
        }
    }

    section {
        position: absolute;
        width: 95%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 130px;
        padding: 20px;
        backdrop-filter: blur(50px);
        background-color: #000000b9;
        box-shadow: 0 0 30px 5px black;

        h2 {
            margin-bottom: 20px;
            color: white;
            padding: 0;
            font-size: 40px;
            font-weight: 100;
            text-align: center;

            span {
                font-size: 30px;
            }
        }

        .revs {
            width: 90%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .des {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 25%;
                padding: 30px;
                border-radius: 3px;
                background-color: #00000000;
                transition: 400ms ease-in-out;

                &:hover {
                    box-shadow: 0 0 20px 2px #68399b81;
                    background-color: #00000010;

                    .link {
                        .img {
                            transform: scale(1.1);
                            box-shadow: 0 0 40px 1px #3030308f;
                        }

                        h3 {
                            transform: scale(1.1);
                        }
                    }
                }

                .link {
                    width: 100%;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    .img {
                        max-width: 180px;
                        transition: 200ms;
                    }


                    h3 {
                        color: white;
                        font-size: 20px;
                        font-weight: 100;
                        letter-spacing: 1px;
                        margin-top: 30px;
                        transition: 250ms;
                    }
                }

            }
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: end;

        .colectivo {
            background: black;
            width: 180px;
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 200ms ease-in-out;

            &.izq {
                border-radius: 0px 30px 0px 0px;
            }

            &.der {

                border-radius: 30px 0px 0px 0px;
            }

            &:hover {
                box-shadow: 0 0 30px 1px #ffffff28;
            }

            a {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                h5 {
                    font-size: 20px;
                    color: #dbdbdb;
                }

                p {
                    color: #cacaca;
                    font-size: 15px;
                }

                h5,
                p {
                    font-weight: 100;
                }

                img {
                    width: 100px;
                    opacity: 0.8;
                }
            }
        }

        .fin {
            background: #0000009c;
            width: 100%;

            p {
                color: #979797;
                font-weight: 100;
                font-size: 20px;
                text-align: center;
                margin: 5px;
            }
        }
    }
}

@media (max-width:800px) {
    main {
        height: 100vh;

        header {
            background-color: #0000007c;

            .dec {
                width: 150px;

                &.one {
                    transform: rotate(60deg);
                }

                &.two {
                    transform: rotate(-60deg);
                }
            }
        }

        section {
            width: 95%;

            h2 {
                font-size: 30px;

                span {
                    font-size: 25px;
                }
            }

            .revs {
                gap: 10px;

                .des {
                    width: 90%;
                    background: none;

                    .link {
                        width: 100%;

                        .img {
                            width: 100%;
                        }
                    }
                }
            }
        }

        footer {
            height: 130px;
            background: black;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .colectivo {
                background: none;
                height: 130px;

                &:hover {
                    box-shadow: none;
                }

                a {
                    h5 {
                        font-size: 15px;
                    }

                    p {
                        font-size: 10px;
                    }

                    img {
                        height: 80px;
                        width: 80px;
                    }
                }
            }

            .fin {
                width: 50%;

                p {
                    font-size: 15px;
                }
            }
        }
    }
}